/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 1 Sep, 2015, 6:08:40 PM
    Author     : ARK-9
*/


/***** Custom CSS *******/
.errorMessage{
    color: #C8221D;
    padding-bottom: 15px;
}

.sticky-header .logo-text {
  color: white;
  left: 0;
  margin: -5px 0;
  padding: 0 28px;
  position: fixed;
  top: 0;
  width: 240px;
}

/* Text colors */
.text-red {
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #222222 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #932ab6 !important;
}
.text-maroon {
  color: #85144b !important;
}

.mtm5{
    margin-top: -5px;
}
