/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Sep, 2015, 11:37:04 AM
    Author     : arkinfotec4
*/

.errorMessage{
    color: #C8221D;
    padding-bottom: 15px;
}